body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #830cc4;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #000;
    color: #fff;
}